.main {
  font-family: Sarabun, sans-serif;

  .status-bar {
    position: absolute;
    height: 44px;
    left: 15px;
    right: 15px;
    top: 0px;
  }

  .profile {
    margin-top: 60px;

    .title {
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #A6AAB4;
      }
    }

    .amount {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.5px;
      color: #171D33;
    }
  }
}
