<template>
    <div class="container-fluid main-container p-0 mt-3">
        <!-- Nav tabs -->
        <ul class="nav justify-content-center mb-5">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sent">Sent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#received">Received</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="sent" class="tab-pane fade"><br>
                <div class="container-fluid cards">

                    <div class="row search-row justify-content-between align-items-center mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div>
                                <input class="search" type="text" placeholder="Search transaction">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 text-right pt-3 pt-md-0">
                            <a href="" class="active icon pr-4"><i class="fas fa-wallet"></i></a>
                            <a href="" class="icon pr-4"><i class="fas fa-cog"></i></a>
                            <a href="" class="icon"><i class="fas fa-chart-pie"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-left">
                            <h4>Today</h4>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 position-relative pb-3" v-for="sentTodayresult in sentTodayresults">
                            <keep-alive>
                                <Rectangle v-bind:is="component" v-bind:name="sentTodayresult.name" v-bind:date="sentTodayresult.date" v-bind:amount="sentTodayresult.amount" />
                            </keep-alive>
                        </div>

                        <div class="col-12 text-left">
                            <h4>Yesterday</h4>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 position-relative pb-3" v-for="sentYesterdayresult in sentYesterdayresults">
                            <keep-alive>
                                <Rectangle v-bind:is="component" v-bind:name="sentYesterdayresult.name" v-bind:date="sentYesterdayresult.date" v-bind:amount="sentYesterdayresult.amount" />
                            </keep-alive>
                        </div>
                    </div>

                </div>
            </div>
            <div id="received" class="tab-pane fade"><br>
                <div class="container-fluid cards">

                    <div class="row search-row justify-content-between align-items-center mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div>
                                <input class="search" type="text" placeholder="Search transaction">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 text-right pt-3 pt-md-0">
                            <a href="" class="active icon pr-4"><i class="fas fa-wallet"></i></a>
                            <a href="" class="icon pr-4"><i class="fas fa-cog"></i></a>
                            <a href="" class="icon"><i class="fas fa-chart-pie"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-left">
                            <h4>Today</h4>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 position-relative pb-3" v-for="receivedTodayresult in receivedTodayresults">
                            <keep-alive>
                                <Rectangle v-bind:is="component" v-bind:name="receivedTodayresult.name" v-bind:date="receivedTodayresult.date" v-bind:amount="receivedTodayresult.amount" />
                            </keep-alive>
                        </div>

                        <div class="col-12 text-left">
                            <h4>Yesterday</h4>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 position-relative pb-3" v-for="receivedYesterdayresult in receivedYesterdayresults">
                            <keep-alive>
                                <Rectangle v-bind:is="component" v-bind:name="receivedYesterdayresult.name" v-bind:date="receivedYesterdayresult.date" v-bind:amount="receivedYesterdayresult.amount" />
                            </keep-alive>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import axios from "axios";
    import Rectangle from '../components/Rectangle.vue'

    Vue.use(axios)

    export default {
        components: {
            Rectangle
        },
        data(){
            return{
                component:"Rectangle",
                sentTodayresults: [],
                receivedTodayresults:[],
                sentYesterdayresults: [],
                receivedYesterdayresults:[]
            }
        },
        mounted () {
            axios
                .get('static/users.json')
                .then(response => (
                    this.sentTodayresults = response.data.orange.sent.today,
                        this.receivedTodayresults = response.data.orange.received.today,
                        this.sentYesterdayresults = response.data.orange.sent.yesterday,
                        this.receivedYesterdayresults = response.data.orange.received.yesterday

                ))
        },
        computed: {

        },
        methods: {

        }
    }
</script>

<style lang="scss">
    .main-container {

        ul {
            border-bottom: 1px solid #E8E9EC;

            a {
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.1px;
                color: #A6AAB4;
                text-decoration: none;
                padding: 0 20px 0 20px;

                &.active {
                    color: #3B414B;
                    border-bottom: 2px solid #FF7D00;
                }
            }
        }

        .cards {
            h4 {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.2px;
                color: #757F8C;
            }

            .search-row {

                .search {
                    background: #F0F1F4;
                    opacity: 0.8;
                    border-radius: 6px;
                    border: none;
                    width: 100%;
                    padding: 7px 7px 7px 20px;
                    color: #757F8C;

                    &::placeholder {
                        font-size: 12px;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .icon {

                    &.active {
                        svg {
                            color: #613EEA;
                        }
                    }
                }

                svg {
                    color: #A6AAB4;

                    &.fa-search {
                        position: absolute;
                        top: 12px;
                        right: 26px;
                    }
                }
            }

            .rectangle {
                background: #FFFFFF;
                box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
                border-radius: 6px;
                padding: 13px;

                .name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #171D33;

                    span {
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.1px;
                        color: #171D33;
                        opacity: 0.4;
                    }
                }

                .date {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.2px;
                    color: #757F8C;
                }

                .money {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: right;
                    letter-spacing: 0.1px;
                    color: #FA2E69;
                }

                .image {
                    width: 35px;
                    height: 35px;
                    overflow: hidden;
                    position: relative;
                    border-radius: 50%;

                    img {
                        width: 72px;
                        height: 48px;
                        position: absolute;
                        top: -7px;
                        left: -20px;

                    }
                }
            }
        }
    }
</style>
