<template>
  <div class="rectangle d-flex align-items-center justify-content-between w-100">
    <div class="d-flex align-items-center">
      <img src="../assets/photo.png" alt="">
      <div class="ml-3 text-left">
        <p class="name mb-0"><span>to: </span>{{ name }}</p>
        <p class="date mb-0">{{ date }}</p>
      </div>
    </div>
    <div class="d-inline-block">
      <p class="money mb-0">
        {{ amount }}
      </p>
    </div>
  </div>
</template>

<script>
  import Vue from "vue";
  // import axios from "axios";

  // Vue.use(axios)

  export default {
    props: [
            "name",
            "date",
            "amount"
    ],
    data(){
      return{
      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .rectangle {
    background: #FFFFFF;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 13px;

    .name {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #171D33;

      span {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #171D33;
        opacity: 0.4;
      }
    }

    .date {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #757F8C;
    }

    .money {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: 0.1px;
      color: #FA2E69;
    }
  }

</style>
