<template>
  <div class="container-fluid main">
    <div class="row status-bar">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p class="mb-0">9:41</p>
        <p class="mb-0">
            <img src="./assets/signal.png" alt="" class="pr-2">
            <img src="./assets/wifi.png" alt="" class="pr-2">
            <img src="./assets/battery.png" alt="">
        </p>
      </div>
    </div>

    <div class="row profile position-relative">
      <div class="col-12 title">
          <p>Your balance</p>
      </div>
      <div class="col-12 d-flex justify-content-between">
            <p class="amount mb-0">$ 926.21</p>
            <span>
              <img src="./assets/profile_photo.png" alt="">
          </span>
      </div>
    </div>

    <div class="row" id="app">
        <div id="nav" class="w-100">
            <router-link to="/green"><img class="green img-fluid" src="./assets/card_green.png" alt=""></router-link>
            <router-link to="/purple"><img class="purple img-fluid" src="./assets/card_purple.png" alt=""></router-link>
            <router-link to="/orange"><img class="orange img-fluid" src="./assets/card_orange.png" alt=""></router-link>
        </div>
        <router-view/>
    </div>

  </div>
</template>

<script>

</script>

<style lang="scss">
body {
    background-color: #F9FAFB !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
    margin: 55px 0;
    display: flex;
    align-items: center;
    @media only screen and (min-width: 768px) {
        display: block;
    }

  a {
      img {
          height: 100%;
          transition: transform 0.7s;
          @media only screen and (min-width: 768px) {
              height: auto;
          }
      }

      &.router-link-exact-active {
          img {
              transform: scale(1.2);
          }

          .green {
              box-shadow: 0px 8px 28px rgba(99, 226, 188, 0.6);
          }
          .orange {
              box-shadow: 0px 8px 28px rgba(255, 173, 106, 0.6);
          }
          .purple {
              box-shadow: 0px 8px 28px rgba(134, 118, 251, 0.6);
          }
      }

      .purple {

          @media only screen and (min-width: 768px) {
              margin-left: 0;
              margin-right: 0;
          }
          @media only screen and (min-width: 992px) {
              margin-left: 55px;
              margin-right: 55px;
          }
      }
  }
  a:nth-child(1), a:nth-child(3) {
      float: left;
      width: 20%;
      height: 65%;
      @media only screen and (min-width: 768px) {
          width: 25%;
      }
      @media only screen and (min-width: 992px) {
          width: auto;
          float: none;
      }
  }
  a:nth-child(2) {
      float: left;
      width: 60%;
      margin: 0 25px;
      @media only screen and (min-width: 768px) {
          width: 43%;
          margin: 0 25px;
      }
      @media only screen and (min-width: 992px) {
          width: auto;
          float: none;
      }

      img {
          width: 100%;
          @media only screen and (min-width: 768px) {
              width: auto;
          }
      }
  }

}

.main {
    font-family: Sarabun, sans-serif;

    .status-bar {
        position: absolute;
        height: 44px;
        left: 15px;
        right: 15px;
        top: 0px;
    }

    .profile {
        margin-top: 60px;

        .title {
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #A6AAB4;
            }
        }

        .amount {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: 0.5px;
            color: #171D33;
        }

    }
}
</style>
